<h1><%= @question.title %></h1>
<p><%= @question.body %> </p>
<p>View Count: <%=  @question.view_count %> </p>
<p>Created By: <%= @question.user_full_name.titleize %></p>
<%# if @question.user == current_user %>
<%# can? is a helper method that came from the CanCanCan gem to help us
enforce authorization rules in the views and controllers %>
<%# crud will include both :edit and destroy %>
<%# if can? :crud, @question %>
<% if can? :crud, @question %>
  <%= link_to "Edit", edit_question_path(@question) %>
  <%= link_to "Delete", question_path(@question), method: :delete,
                                                data: {confirm: "Are you sure?"}%>
<% end %>
<%# the line below is refactored out into user_like in the controller %>
<%# like =  @question.like_for(current_user) %>
<%# if user_signed_in? && like %>
<% if user_like %>
  <%= link_to "Un-like", question_like_path(@question, user_like), method: :delete %>
<% else %>
  <%= link_to "Like", question_likes_path(@question), method: :post %>
<% end %>
<%= (@question.likes.count) %>
 |
 <% user_vote = @question.vote_for(current_user) %>
 <% if user_vote && user_vote.is_up?  %>
  <%= link_to "Un-do Vote Up", question_vote_path(@question, user_vote), method: :delete %>
  |
  <%#  patch and delete have the same url %>
  <%= link_to "Vote Down", question_vote_path(@question, user_vote, {vote: {is_up: false}}), method: :patch%>
 <% elsif user_vote %> <%# vote is down %>
  <%= link_to "Vote Up", question_vote_path(@question, user_vote, {vote: {is_up: true}}), method: :patch %>
  |
  <%= link_to "Un-do Vote Down", question_vote_path(@question, user_vote), method: :delete%>
 <% else %>
   <%= link_to "Vote Up", question_votes_path(@question, {vote: {is_up: true}}), method: :post %>
   |
   <%= link_to "Vote Down", question_votes_path(@question, {vote: {is_up: false}}), method: :post%>
  <% end %>
  (<%= @question.vote_value %>)

<hr>

<%= @answer.errors.full_messages.join(", ") %>
<%#= form_for @answer, url: question_answers_path(@question) do |f| %>
<%= form_for [@question, @answer] do |form_helper| %>
  <%= form_helper.text_area :body %>
  <%= form_helper.submit %>
<% end  %>

<h2>Answers</h2>
<% @question.answers.each do |answer| %>
  <p> <%= answer.body %> </p>
  <p> Created by: <%= answer.user_full_name.titleize %></p>
  <% if can? :destroy, answer %>
  <%= link_to "delete", question_answer_path(@question, answer),
                                  data: {confirm: "Are you sure?"},
                                  method: :delete %>
  <% end %>
  <hr>
 <% end %>
