<%# dom_id is used to generate a unique HTML id for elements form an
ActiveRecord object.  It uses the object type and its id to generate a unique id. %>
<div id="<%= dom_id(answer) %>" style="<%= style if defined?(style) %>">
  <p> <%= answer.body %> </p>
  <p> Created by: <%= answer.user_full_name.titleize %></p>
  <% if can? :edit, answer %>
    <%= link_to "Edit", edit_question_answer_path(@question, answer),
      remote: true,
      data: {toggle: "modal", target: "#edit-answer"},
      class: "btn btn-primary btn-sm"
    %>
    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary btn-small" data-toggle="modal" data-target="#edit-answer">
      Edit
    </button> -->
  <% end %>
  <% if can? :destroy, answer %>
  <%= link_to "Delete", question_answer_path(@question, answer),
                                  data: {confirm: "Are you sure?"},
                                  method: :delete,
                                  remote: true,
                                  class: "btn btn-primary btn-sm" %>
  <% end %>

  <hr>
</div>
